<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Stackfindover: Sign in</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/forms.css}">
</head>

<body>
<div class="login-root">

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Reference</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <form id="stripe-login" method="post" th:action="@{/edita/{id}(id=${id})}">
                        <div class="m" style="color:red" th:text="${m}"></div>
                        <br>
                        <div class="field padding-bottom--24">
                            <label >objet</label>
                            <input name="objet" th:value="${a.getObjet()}"  >
                        </div>
                        <div class="field padding-bottom--24">
                            <label >montant</label>
                            <input type="number" name="montant" th:value="${a.getMontant()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >datepublication</label>
                            <input type="date" name="datep" th:value="${a.getDatepublication()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >datefin</label>
                            <input type="date" name="datef" th:value="${a.getDatefin()}">
                        </div>

                        <div class="field padding-bottom--24">
                            <label >delai</label>
                            <input type="number" name="delai" th:value="${a.getDelai()}">
                        </div>
                <div class="field padding-bottom--24">
                    <label> Selectionner un personne physique  </label>
                    <select name="pp" id="pp" class="form-control selectpicker">
                        <option
                                th:value="0"
                                th:text="Nul">
                        </option>
                        <option th:each="p : ${listpp}"
                                th:value="${p.id}"
                                th:text="${p.nom}">
                        </option>
                    </select>
                </div>

                <div class="field padding-bottom--24">
                    <label> Selectionner une societe </label>
                    <select name="pm" id="pm" class="form-control selectpicker">
                        <option
                                th:value="0"
                                th:text="Nul">
                        </option>
                        <option th:each="pm : ${listpm}"
                                th:value="${pm.id}"
                                th:text="${pm.denomination}">
                        </option>
                    </select>
                </div>
                <div class="field padding-bottom--24">
                    <input type="submit" name="submit" value="Continue">
                </div>


                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
</body>

