<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Stackfindover: Sign in</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/forms.css}">
</head>

<body>
<div class="login-root">

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Edit personne phisique</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <form id="stripe-login" method="post" th:action="@{/editph/{id}(id=${id})}">
                        <div class="m" style="color:red" th:text="${m}"></div>
                        <br>
                        <div class="field padding-bottom--24">
                            <label >nom</label>
                            <input id="nom" name="nom" th:value="${ph.getNom()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >prenom</label>
                            <input  name="prenom" th:value="${ph.getPrenom()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >adresse</label>
                            <input  name="adresse" th:value="${ph.getAdresse()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >telephone</label>
                            <input type="number" name="telephone" th:value="${ph.getTelephone()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >mail</label>
                            <input  name="mail" th:value="${ph.getMail()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <input type="submit" name="submit" value="Continue">
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
</body>

