<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Stackfindover: Sign in</title>
    <link rel="stylesheet" type="text/css" href="css/forms.css">
</head>

<body>
<div class="login-root">

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Societe</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <form id="stripe-login" method="post" th:action="@{/ajoutpmuser}">
                        <div class="m" style="color:red" th:text="${m}"></div>
                        <br>
                        <div class="field padding-bottom--24">
                            <label >denomination</label>
                            <input required name="denomination">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >NumIm</label>
                            <input required name="NumIm">
                        </div>
                        <br>
                        <br>
                        <h2> Ajouter un representant legale</h2>
<br><br>
                        <div class="field padding-bottom--24">
                            <label >nom</label>
                            <input required id="nom" name="nom">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >prenom</label>
                            <input  required name="prenom">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >adresse</label>
                            <input required name="adresse">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >telephone</label>
                            <input type="number" name="telephone">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >mail</label>
                            <input  name="mail">
                        </div>
                        <div class="field padding-bottom--24">
                            <input type="submit" name="submit" value="terminer">
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
</body>

</html>