<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Stackfindover: Sign in</title>
    <link rel="stylesheet" type="text/css" href="css/forms.css">
</head>

<body>
<div class="login-root">

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Ajout personne phisique</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <form id="stripe-login" method="post" th:action="@{/ajoutphuser}">

                        <div class="m" style="color:red" th:text="${m}"></div>
                        <div class="field padding-bottom--24">
                            <label >nom</label>
                            <input required id="nom" name="nom">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >prenom</label>
                            <input required name="prenom">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >adresse</label>
                            <input required name="adresse">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >telephone</label>
                            <input type="number" required name="telephone">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >mail</label>
                            <input  required name="mail">
                        </div>
                        <br>
                        <h2>Ajouter une reference</h2>
                        <br>
                        <div class="field padding-bottom--24">
                            <label >objet</label>
                            <input name="objet">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >entite</label>
                            <input  name="entite">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >datereference</label>
                            <input  type="date" name="datereference">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >montant</label>
                            <input type="number" name="montant">
                        </div>
                        <div class="field padding-bottom--24">
                            <input type="submit" name="submit" value="Continue">
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
</body>

