<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Stackfindover: Sign in</title>
  <link rel="stylesheet" type="text/css" href="css/forms.css">
</head>

<body>
<div class="login-root">

  <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
      <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Reference</a></h1>
    </div>
    <div class="formbg-outer">
      <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
          <form id="stripe-login" method="post" th:action="@{/ajoutr}">
            <div class="m" style="color:red" th:text="${m}"></div>
            <div class="field padding-bottom--24">
              <label >objet</label>
              <input name="objet">
            </div>
            <div class="field padding-bottom--24">
              <label >entite</label>
              <input required name="entite">
            </div>
            <div class="field padding-bottom--24">
              <label >datereference</label>
              <input required name="datereference" type="date">
            </div>
            <div class="field padding-bottom--24">
              <label >montant</label>
              <input required type="number" name="montant">
            </div>
            <div class="field padding-bottom--24">
              <label> Selectionner un personne physique  </label>
              <select name="pp" id="pp" class="form-control selectpicker">
                <option
                        th:value="0"
                        th:text="Nul">
                </option>
                <option th:each="p : ${listpp}"
                        th:value="${p.id}"
                        th:text="${p.nom}">
                </option>
              </select>
            </div>

            <div class="field padding-bottom--24">
              <label> Selectionner une societe </label>
              <select name="pm" id="pm" class="form-control selectpicker">
                <option
                        th:value="0"
                        th:text="Nul">
                </option>
                <option th:each="pm : ${listpm}"
                        th:value="${pm.id}"
                        th:text="${pm.denomination}">
                </option>
              </select>
            </div>
            <div class="field padding-bottom--24">
              <input type="submit" name="submit" value="Continue">
            </div>

          </form>
        </div>
      </div>


    </div>
  </div>
</div>
</body>

</html>
