<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Stackfindover: Sign in</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/forms.css}">
</head>

<body>
<div class="login-root">

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Edit Reference</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <form id="stripe-login" method="post" th:action="@{/editu/{id}(id=${id})}">
                        <div class="field padding-bottom--24">
                            <label >Email</label>
                            <input name="nom" th:value="${u.getEmail()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >password</label>
                            <input  name="password" th:value="${u.getPassword()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >est admin</label>
                            <select name="role" id="u" class="form-control selectpicker">
                                <option
                                        th:value="Nul"
                                        th:text="---">
                                </option>
                                <option
                                        th:value="Oui"
                                        th:text="Oui">
                                </option>
                                <option
                                        th:value="Non"
                                        th:text="Non">
                                </option>
                            </select>
                        </div>




                        <div class="field padding-bottom--24">
                            <input type="submit" name="submit" value="Continue">
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
</body>

</html>