<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Stackfindover: Sign in</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}">
</head>

<body>
<div class="login-root">

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Reference</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <form id="stripe-login" method="post" th:action="@{/ajoutpmru/{id}(id=${id})}">
                        <div class="field padding-bottom--24">
                            <label >objet</label>
                            <input name="objet">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >entite</label>
                            <input  name="entite">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >datereference</label>
                            <input  type="date" name="datereference">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >montant</label>
                            <input type="number" name="montant">
                        </div>


                        <div class="field padding-bottom--24">
                            <input type="submit" name="submit" value="Continue">
                        </div>
                        <a th:href="@{/user}">Annuler</a>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
</body>

</html>