<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Stackfindover: Sign in</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/forms.css}">
</head>

<body>
<div class="login-root">

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Edit Reference</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <form id="stripe-login" method="post" th:action="@{/editr/{id}(id=${id})}">
                        <div class="m" style="color:red" th:text="${m}"></div>
                        <br>
                        <div class="field padding-bottom--24">
                            <label >objet</label>
                            <input name="objet" th:value="${r.getObjet()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >entite</label>
                            <input  name="entite" th:value="${r.getEntite()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >datereference</label>
                            <div class="m" style="color:red" th:text="${date}"></div>
                            <br>
                            <input   name="datereference" th:value="${r.getDatereference()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >montant</label>
                            <input type="number" name="montant" th:value="${r.getMontant()}">
                        </div>

                            <div class="field padding-bottom--24">
                                <label> Selectionner un personne physique  </label>
                                <select name="pp" id="pp" class="form-control selectpicker">
                                    <option
                                            th:value="0"
                                            th:text="Nul">
                                    </option>
                                    <option th:each="p : ${listpp}"
                                            th:value="${p.id}"
                                            th:text="${p.nom}">
                                    </option>
                                </select>
                            </div>

                            <div class="field padding-bottom--24">
                                <label> Selectionner une societe </label>
                                <select name="pm" id="pm" class="form-control selectpicker">
                                    <option
                                            th:value="0"
                                            th:text="Nul">
                                    </option>
                                    <option th:each="pm : ${listpm}"
                                            th:value="${pm.id}"
                                            th:text="${pm.denomination}">
                                    </option>
                                </select>
                            </div>
                        <div class="field padding-bottom--24">
                            <input type="submit" name="submit" value="Continue">
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
</body>

</html>