<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Stackfindover: Sign in</title>
    <link rel="stylesheet" type="text/css"  th:href="@{../css/forms.css}">
</head>

<body>
<div class="login-root">

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Edit Societe</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <form id="stripe-login" method="post" th:action="@{/editpm/{id}(id=${id})}">
                        <div class="m" style="color:red" th:text="${m}"></div>
                        <br>
                        <div class="field padding-bottom--24">
                            <label >denomination</label>
                            <input id="nom" name="denomination" th:value="${pm.getDenomination()}">
                        </div>
                        <div class="field padding-bottom--24">
                            <label >NumIm</label>
                            <input  name="NumIm"  th:value="${pm.getNumIm()}">
                        </div>
<!--                        <div class="field padding-bottom&#45;&#45;24">-->
<!--                            <label >Representant legale</label>-->
<!--                            <input  name="rl"  th:value="${pm.getRepresentantlegale().getId()}">-->
<!--                        </div>-->
                        <div class="field padding-bottom--24">
                            <label> Selectionner un personne physique  </label>
                            <select name="pp" id="pp" class="form-control selectpicker">
                                <option
                                        th:value="0"
                                        th:text="Nul">
                                </option>
                                <option th:each="p : ${listpp}"
                                        th:value="${p.id}"
                                        th:text="${p.nom}">
                                </option>
                            </select>
                        </div>

                        <div class="field padding-bottom--24">
                            <input type="submit" name="submit" value="Continue">
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
</body>

</html>