<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>personne phisique</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="css/ss.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <h2>personnes phisique</h2>
  <div class="m" style="color:red" th:text="${m}"></div>
  <br>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Id</div>
      <div class="col col-1">nom</div>
      <div class="col  col-1">Prenom</div>
      <div class="col  col-1">adresse</div>
      <div class="col  col-1">mail</div>
      <div class="col  col-1">telephone</div>
      <div class="col  col-1">listreference</div>
      <div class="col  col-1">supprimer</div>
      <div class="col  col-1">delete</div>
    </li>
    <li class="table-row"  th:each="p:${listpp}">
      <div class="col col-1" data-label="Job Id" th:text="${p.id}"></div>
      <div class="col col-1" data-label="Customer Name" th:text="${p.nom}"></div>
      <div class="col col-1" data-label="Amount" th:text="${p.prenom}"></div>
      <div class="col col-1" data-label="Payment Status" th:text="${p.adresse}"></div>
      <div class="col col-1" data-label="Payment Status" th:text="${p.mail}"></div>
      <div class="col col-1" data-label="Payment Status" th:text="${p.telephone}"></div>
      <div class="col col-1" data-label="Payment Status"><a style="color:green"th:href="@{/listrp/{id}(id=${p.id})}"> Listreference</a></div>
      <div class="col col-1" data-label="Payment Status"><a style="color:green" th:href="@{/deleteph/{id}(id=${p.id})}"> Delete</a></div>
      <div class="col col-1" data-label="Payment Status"><a style="color:green" th:href="@{/editph/{id}(id=${p.id})}"> Edit</a></div>
    </li>


  </ul>
</div>
<!-- partial -->
  
</body>
</html>
