<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Reference</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../css/ss.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
    <h2>Reference</h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Id</div>
            <div class="col col-2">objet</div>
            <div class="col col-2">entite</div>
            <div class="col col-4">montant</div>
            <div class="col col-4">liste de references</div>

        </li>
        <li class="table-row" th:each="r:${listrp}">
            <div class="col col-1" th:text="${r.id}"></div>
            <div class="col col-2"  th:text="${r.objet}"></div>
            <div class="col col-3" th:text="${r.entite}"></div>
            <div class="col col-4" data-label="Customer Name" th:text="${r.montant}"></div>

            <!--            <div class="col col-4" data-label="Customer Name" th:text="${r.getPm().getId()}?:'null'"></div>-->

            <div   data-label="Amount" th:text="${r.datereference}"></div>
        </li>
    </ul>
</div>
<!-- partial -->

</body>
</html>
