<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <title>personne phisique</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/ss.css">
</head>
<body>
<div class="container">
    <h2> les utilisateurs </h2>
    <br>
    <div class="m" style="color:red" th:text="${m}"></div>
    <br>
    <ul class="responsive-table">
        <li class="table-header">

            <div class="col col-1">Id</div>
            <div class="col col-1">Email</div>
            <div class="col col-1">password</div>
            <div class="col col-1">est admin</div>
            <div class="col col-1">Supprimer</div>
            <div class="col col-1">Editer</div>
        </li>
        <li class="table-row"  th:each="us:${listUsers}">
            <div class="col col-1" data-label="Job Id" th:text="${us.getId()}"></div>
            <div class="col col-1" data-label="Job Id" th:text="${us.getEmail()}"></div>
            <div class="col col-1" data-label="Customer Name" th:text="${us.getPassword()}"></div>


            <div class="col col-1" th:if="${us.isR()}">
                <div class="col col-4" data-label="Customer Name" th:text="Oui"></div>
            </div>
            <div class="col col-1" th:if="${us.isR()==false}">
                <div class="col col-4" data-label="Customer Name" >Non</div>
            </div>


            <div class="col col-1" data-label="Customer Name"><a style="color:green" th:href="@{/deleteu/{id}(id=${us.id})}"> Delete</a></div>
            <div class="col col-1" data-label="Payment Status"><a style="color:green" th:href="@{/editu/{id}(id=${us.id})}"> Edit</a></div>


        </li>


    </ul>
</div>

</body>
</html>
