<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>personne phisique</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/ss.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
    <h2>societes</h2>
    <div style="color:red" th:text="${m}"></div>
    <br>
<!--    <div  th:if="${m!='erreur'}">-->
<!--    <div  th:text="${m}"></div>-->
<!--    </div>-->
<!--    <div  th:if="${m=='erreur'}">-->
<!--        <div  th:text="${m}"></div>-->
<!--    </div>-->
<!--    -->
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Id</div>
            <div class="col col-1">denom</div>
            <div class="col col-1">Num_d'imm</div>
            <div class="col col-1">Re_Legale</div>
            <div class="col  col-1">listref</div>

            <div class="col  col-1">suppr</div>
            <div class="col  col-1">delete</div>
        </li>
        <li class="table-row"  th:each="p:${listpm}">
            <div class="col col-1" data-label="Job Id" th:text="${p.id}"></div>
            <div class="col col-2" data-label="Customer Name" th:text="${p.denomination}"></div>
            <div class="col col-3" data-label="Amount" th:text="${p.NumIm}"></div>
            <div class="col col-3" data-label="Amount" th:text="${p.getRepresentantlegale().getNom()}"></div>
            <div class="col col-4" data-label="Payment Status"><a style="color:green" th:href="@{/listrm/{id}(id=${p.id})}"> Listreference</a></div>
            <div class="col col-4" data-label="Payment Status"><a style="color:green" th:href="@{/deletepm/{id}(id=${p.id})}"> Delete</a></div>
            <div class="col col-4" data-label="Payment Status"><a style="color:green" th:href="@{/editpm/{id}(id=${p.id})}"> Edit</a></div>
        </li>


    </ul>
</div>
<!-- partial -->

</body>
</html>
