<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Reference</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/ss.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
    <h2>Reference</h2>
    <div class="m" style="color:red" th:text="${m}"></div>
    <br>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Id</div>

            <div class="col col-1">objet</div>
            <div class="col col-1">entite</div>
            <div class="col col-1">montant</div>
            <div class="col col-1">personne phisique</div>
            <div class="col col-1">personne morale</div>
            <div class="col col-1">daterefe</div>
            <div class="col  col-1">Editer</div>

            <div class="col  col-1">Supprimer</div>
        </li>
        <li class="table-row" th:each="r:${listr}">
            <div class="col col-1" th:text="${r.id}"></div>
            <div class="col col-1"  th:text="${r.objet}"></div>
            <div class="col col-1" th:text="${r.entite}"></div>
            <div class="col col-1" data-label="Customer Name" th:text="${r.montant}"></div>
            <div class="col col-1" th:if="${r.getPp()!=null}">
                <div class="col col-1" data-label="Customer Name" th:text="${r.getPp().getNom()}"></div>
            </div>
            <div class="col col-1" th:if="${r.getPp()==null}">
                <div class="col col-1" data-label="Customer Name" >Null</div>
            </div>
            <div class="col col-1" th:if="${r.getPm()!=null}">
                <div class="col col-1" data-label="Customer Name" th:text="${r.getPm().getDenomination()}"></div>
            </div>
            <div class="col col-1" th:if="${r.getPm()==null}">
                <div class="col col-1" data-label="Customer Name" >Null</div>
            </div>
<!--            <div class="col col-4" data-label="Customer Name" th:text="${r.getPm().getId()}?:'null'"></div>-->

            <div class="col col-1"  data-label="Amount" th:text="${r.datereference}"></div>
            <div class="col col-1" data-label="Payment Status"><a style="color:green" th:href="@{/editr/{id}(id=${r.id})}"> Edit</a></div>
            <div class="col col-1" data-label="Customer Name"><a style="color:green" th:href="@{/deleter/{id}(id=${r.id})}"> Delete</a></div>

        </li>
    </ul>
</div>
<!-- partial -->

</body>
</html>
