<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>appel</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/ss.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
    <h2>Appel d'offre</h2>
    <div class="m" style="color:red" th:text="${m}"></div>
    <br>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Id</div>
            <div class="col col-1">objet</div>
            <div class="col col-1">montant</div>
            <div class="col col-1">date_pub</div>
            <div class="col col-1">datefin</div>

            <div class="col col-1">delai</div>
            <div class="col col-1">PerP</div>
            <div class="col col-1">PerM</div>
            <div class="col  col-1">suppr</div>
            <div class="col  col-1">delete</div>
        </li>
        <li class="table-row"  th:each="r:${lista}">
            <div class="col col-1" data-label="Job Id" th:text="${r.id}"></div>
            <div class="col col-2" data-label="Customer Name" th:text="${r.objet}"></div>
            <div class="col col-3" data-label="Customer Name" th:text="${r.montant}"></div>
            <div class="col col-4" data-label="Customer Name" th:text="${r.datepublication}"></div>
            <div class="col col-4" data-label="Amount" th:text="${r.datefin}"></div>

            <div class="col col-4" data-label="Customer Name" th:text="${r.delai}"></div>
            <div class="col col-4" th:if="${r.getPH()!=null}">
                <div class="col col-4" data-label="Customer Name" th:text="${r.getPH().getNom()}"></div>
            </div>
            <div class="col col-4" th:if="${r.getPH()==null}">
                <div class="col col-4" data-label="Customer Name" >Null</div>
            </div>
            <div class="col col-4" th:if="${r.getPM()!=null}">
                <div class="col col-4" data-label="Customer Name" th:text="${r.getPM().getDenomination()}"></div>
            </div>
            <div class="col col-4" th:if="${r.getPM()==null}">
                <div class="col col-4" data-label="Customer Name" >Null</div>
            </div>

            <div class="col col-4" data-label="Payment Status"><a style="color:green" th:href="@{/deletea/{id}(id=${r.id})}"> Delete</a></div>
            <div class="col col-4" data-label="Payment Status"><a style="color:green" th:href="@{/edita/{id}(id=${r.id})}"> Edit</a></div>
        </li>


    </ul>
</div>
<!-- partial -->

</body>
</html>
